/* Options page */
.clearline {border-bottom: 2px solid #fff;border-top: 1px solid #e6e6e6;clear: both;margin: 10px 0;}
.section-block {background: #f6f6f6;padding: 20px;border: 1px solid #e6e6e6;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.section-block h3 {margin: 0 0 20px;}
.icon {float: left;margin: 7px 7px 0 0;}

